{% extends 'board_app_creator/form.html' %}
{% load bootstrap3 %}
{% block title %}{{ form_verb }} Application{% endblock %}
{% block nav-application-class %}active{% endblock %}
{% block nav-application-link %}#{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url "application-list" %}">Application</a></li>
    <li active="active">{{ form_verb }} Applictation</li>
{% endblock %}
{% block header %}{{ form_verb }} Application{% endblock %}
{% block submit_text %}{% if form_verb == "Add" %}{% bootstrap_icon "plus" %}{% else %}{% bootstrap_icon "pencil" %}{% endif %} {{ form_verb }}{% endblock %}
