{% extends 'board_app_creator/list.html' %}
{% load bootstrap3 %}
{% block title %}Applications{% endblock %}
{% block nav-application-class %}active{% endblock %}
{% block nav-application-link %}#{% endblock %}
{% block header %}Applications <small><a class="btn btn-success" href="{% url "application-create" %}">{% bootstrap_icon "plus" %} Add application</a></small>{% endblock %}
{% block list-table-head %}
    <th>Name</th>
    <th>Repository</th>
    <th>Path</th>
    <th>Prototype jobs</th>
    <th></th>
    <th>
        {% if hidden_shown %}
            <a href="{% url "application-list" %}" title="Do not show hidden" class="text-muted">{% bootstrap_icon "eye-close" %}</a>
        {% else %}
            <a href="{% url "application-hidden" %}" title="Show hidden" class="text-muted">{% bootstrap_icon "eye-open" %}</a>
        {% endif %}
    </th>
    <th></th>
    <th></th>
{% endblock %}
{% block list-table-row %}
    <tr class="{% if object.no_application %}danger{% endif %}">
        <td><a href="{% url "application-detail" pk=object.pk %}">{{ object.name }}</a></td>
        <td>
            {% for repo in object.repository.all %}
                <a href="{% url "repository-detail" pk=repo.pk %}">{{ repo }}</a>{% if not forloop.last %},{% endif %}
            {% empty %}
                &mdash;
            {% endfor %}
        </td>
        <td>{{ object.path }}</td>
        <td>{% if object.prototype_jobs %}{{ object.prototype_jobs.all|join:", "|default:"&mdash;"}}{% else %}&mdash;{% endif %}</td>
        <td><a href="{% url "application-update" pk=object.pk %}" title="Edit" class="text-muted">{% bootstrap_icon "pencil" %}</a></td>
        <td>
            {% if object.no_application %}
                <a href="{% url "application-ignore" pk=object.pk %}" title="Handle as application" class="text-muted">
                    {% bootstrap_icon "eye-open" %}
                </a>
            {% else %}
                <a href="{% url "application-ignore" pk=object.pk %}" title="Do not handle as application" class="text-muted">
                    {% bootstrap_icon "eye-close" %}
                </a>
            {% endif %}
        </td>
        <td><a href="{% url "application-renew" pk=object.pk %}" title="Reload application" class="text-muted">{% bootstrap_icon "refresh" %}</a></td>
        <td><a href="{% url "application-delete" pk=object.pk %}" title="Delete" class="text-danger">{% bootstrap_icon "remove" %}</a></td>
    </tr>
{% endblock %}
{% block list-table-empty %}
    No repositories found. <a href="{% url "repository-create" %}">Add one</a>
{% endblock %}
