{% extends 'board_app_creator/detail.html' %}
{% load bootstrap3 %}
{% block title %}Board: {{ object.riot_name }}{% endblock %}
{% block nav-board-class %}active{% endblock %}
{% block nav-board-link %}#{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url "board-list" %}">Boards</a></li>
    <li active="active">{{ object.riot_name }}</li>
{% endblock %}
{% block header %}Board <small>{{ object.riot_name }}</small>{% endblock %}
{% block actionbar %}
    {% if object.no_board %}
        <a href="{% url "board-ignore" pk=object.pk %}" title="Handle as board">{% bootstrap_icon "eye-open" %}</a>
    {% else %}
        <a href="{% url "board-ignore" pk=object.pk %}" title="Do not handle as board">{% bootstrap_icon "eye-close" %}</a>
    {% endif %}
    <a href="{% url "board-delete" pk=object.pk %}" title="Delete" class="text-danger">{% bootstrap_icon "remove" %}</a>
{% endblock %}
{% block detail %}
    <dt>Repository</dt>
    <dd>{{ object.repo }}</dd>
    <dt>CPU Repository</dt>
    <dd>{{ object.cpu_repo }}</dd>
    {% if object.usb_device %}
    <dt>USB Device</dt>
    <dd>{{ object.usb_device }}</dd>
    {% endif %}
    {% if object.prototype_jobs.objects.exists %}
    <dt>Prototype jobs</dt>
    {% for t in object.application_trees.all %}
    <dd>{{ t }}</dd>
    {% endfor %}
    {% endif %}
{% endblock %}
