{% extends 'board_app_creator/job_form.html' %}
{% load bootstrap3 %}
{% block title %}{{ form_verb }} Job{% endblock %}
{% block nav-job-class %}active{% endblock %}
{% block nav-job-link %}#{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
            {% block breadcrumb %}{% endblock %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="post" class="form">
                {% csrf_token %}
                {{ formset.forms.0.fields.name }}
                {% bootstrap_formset formset %}
                <div class="form-group">
                    {% block extra_text %}{% endblock %}
                </div>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% block submit_text %}{% endblock %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
