{% extends "board_app_creator/base.html" %}
{% block breadcrumb %}
    <li active="active">Repositories</a>
{% endblock %}
{% block content %}
    {% include "board_app_creator/paginator.html" %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    {% if object_list %}
                    <tr>
                        {% block list-table-head %}{% endblock %}
                    </tr>
                    {% for object in object_list %}
                    <tr>
                        {% block list-table-row %}{% endblock %}
                    </tr>
                    {% endfor %}
                    {% else %}
                        {% block list-table-empty %}{% endblock %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    {% include "board_app_creator/paginator.html" %}
{% endblock %}
