{% extends "board_app_creator/base.html" %}
{% load bootstrap3 %}
{% block breadcrumb %}
    <li active="active">Repositories</a>
{% endblock %}
{% block content %}
    {% if is_paginated %}
    <div class="row text-center">
        <div class="col-md-12">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                {% if object_list %}
                <tr>
                    {% block list-table-head %}{% endblock %}
                </tr>
                {% for object in object_list %}
                <tr>
                    {% block list-table-row %}{% endblock %}
                </tr>
                {% endfor %}
                {% else %}
                    {% block list-table-empty %}{% endblock %}
                {% endif %}
            </table>
        </div>
    </div>
    {% if is_paginated %}
    <div class="row text-center">
        <div class="col-md-12">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}
{% endblock %}
