{% extends 'board_app_creator/detail.html' %}
{% load bootstrap3 %}
{% block title %}{{ object.get_vcs_display }} repository: {{ object.url }}{% endblock %}
{% block nav-repository-class %}active{% endblock %}
{% block nav-repository-link %}#{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url "repository-list" %}">Repositories</a></li>
    <li active="active">{{ object.path }}</li>
{% endblock %}
{% block header %}{{ object.get_vcs_display }} repository <small>{{ object.url }}</small>{% endblock %}
{% block actionbar %}
    <a href="{% url "repository-update" pk=object.pk %}" title="Edit">{% bootstrap_icon "pencil" %}</a>
    <a href="{% url "repository-renew" pk=object.pk %}" title="Reload boards and applications">{% bootstrap_icon "refresh" %}</a>
    <a href="{% url "repository-delete" pk=object.pk %}" title="Delete" class="text-danger">{% bootstrap_icon "remove" %}</a>
{% endblock %}
{% block detail %}
    <dt>Clone path</dt>
    <dd>{{ object.path }}</dd>
    {% if object.weblink %}
    <dt>Weblink</dt>
    <dd><a href="{{ object.weblink }}" target="_blank">{{ object.weblink }}</a></dd>
    {% endif %}
    <dt>Default branch</dt>
    <dd>{{ object.default_branch }}</dd>
    <dt>Boards tree</dt>
    {% if object.has_boards_tree %}
    <dd>{{ object.boards_tree }}</dd>
    {% else %}
    <dd><a href="#">{% bootstrap_icon "plus" %}</a></dd>
    {% endif %}
    {% if object.has_cpu_tree %}
    <dt>CPU tree</dt>
    <dd>{{ object.cpu_tree }}</dd>
    {% endif %}
    <dt>
        Application trees
        <a href="{% url "repository-add-application-trees" pk=object.pk %}" title="Edit application trees">
            {% bootstrap_icon "pencil" %}
        </a>
    </dt>
    {% for t in object.unique_application_trees %}
    <dd>{{ t }}</dd>
    {% empty %}
    <dd><a href="{% url "repository-add-application-trees" pk=object.pk %}" class="text-success">{% bootstrap_icon "plus" %}</a></dd>
    {% endfor %}
{% endblock %}
