{% extends "board_app_creator/form.html" %}
{% load bootstrap3 %}
{% block title %}{{ object.get_vcs_display }} repository: {{ object.url }} (Edit application trees){% endblock %}
{% block header %}Edit application trees of {{ object.get_vcs_display }} repository <small>{{ object.url }}</small>{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url "repository-list" %}">Repositories</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object.path }}</a></li>
    <li active="active">Edit application trees</li>
{% endblock %}
{% block submit_text %}{% bootstrap_icon "save" %} Save{% endblock %}
