{% extends 'board_app_creator/form.html' %}
{% load bootstrap3 %}
{% block title %}{{ form_verb }} Repository{% endblock %}
{% block nav-repository-class %}active{% endblock %}
{% block nav-repository-link %}#{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url "repository-list" %}">Repositories</a></li>
    <li active="active">{{ form_verb }} Repository</li>
{% endblock %}
{% block header %}{{ form_verb }} Repository{% endblock %}
{% block submit_text %}{% if form_verb == "Add" %}{% bootstrap_icon "plus" %}{% else %}{% bootstrap_icon "pencil" %}{% endif %} {{ form_verb }}{% endblock %}
